@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
[data-testid="stSidebarNav"]::before {
    content: "Quadra Enterprise QNA";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 23px;
    position: relative;
    top: 45px;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.css-vk3wp9 {
    background: linear-gradient(to bottom, #24538D, #0A1727);
}

.css-17lntkn {
    color: #c5d2de;
}

.css-pkbazv {
    color: #fff
}

.css-183lzff {
    white-space: pre;
    font-size: 19px;
    overflow-x: auto;
    position: relative;
    bottom: 52px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
}

.css-7ym5gk {
    background-color: #ffffff;
    color: #24538D;
    width: 319px;
    height: 100px;
    border: 2px solid transparent;
    border-color: #265b9b;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 6px -4px rgba(0, 0, 0, 0.12), 0 11px 40px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    bottom: 63px;
}

.css-7ym5gk:hover {
    border-color: #4780c6;
    color: #4780c6;
}

.css-164nlkn {
    display: none;
}

.css-1x8cf1d>div p {
    font-size: 20px;
    margin-left: 51px;
}
.css-81oif8 {
    align-items: end;
    justify-content: end;
}
.stTextInput {
    position: fixed;
    bottom: 0px;
    z-index: 4;
    background-color: #fff;
    height: 93px;
    /* top: 155px; */
}
.stTextInput >div >div input{
    border-color: #24538D;
    background-color: #fff;
    font-family: "Raleway", sans-serif;
}
.stTextInput >div{
    border: 1.5px solid #c0c0c6b9;
}
.css-81oif8 {
    color: #c0c0c6;
}

/* loading colorr */
.css-1dp5vir {
    background-image: linear-gradient(90deg, rgb(64 119 211), rgb(128 216 255));
}


/* hide menu button an running*/
.css-zq5wmm{
    display: none;
    }
.css-79elbk ul{
        max-height: max-content;
        font-family: "Raleway", sans-serif;
        }


/* hide full screen preview */
.e1vs0wn31 {
    display: none;
}


/* close button style */
.css-1nm2qww {
    top: 44px;
}
.css-ztfqz8 {
    position: relative;
    top: 2px;
    color: #fff;
}
.css-1nm2qww :hover {
    background-color: #c0c0c6;
}

/* quadra logo */
.css-e3xfei >div >div >div >div >div >div >div {
    width: 150px;
    position: relative;
    bottom: 120px;
}
.css-1v0mbdj {
    width: 51px;
    position: relative;
    top: 32px;
    margin-left: 23px;
    z-index: 3;
}


/* chat header css */
.css-y4bq5x {
    background-color: #fff;
    height: 33px;
    display: block;
    z-index: 999999999999;
    position: fixed;
    top: 45px;
}
.css-183lzff {
    position: fixed;
    top: 51px;
    font-family: "Raleway", sans-serif;
}


/* follow up questions */
.css-7ym5gk {
    background-color: rgba(14, 95, 164, 0.08);
    border-color: transparent;
    width: 438px;
    height: 48px;
    bottom: 0;
    box-shadow: none;
}

div[data-testid="stSidebar"] :nth-child(1)>:nth-child(3)>div >:nth-child(1)>div>div>div>div>div{
    position: relative;
    bottom: 10px;
}


/* font change */
.css-1meupwp > div{
    font-family: "Raleway", sans-serif;
}
.css-g44t70 {
    font-family: "Raleway", sans-serif;
}
.css-5rimss p{
    font-family: "Raleway", sans-serif;
}
.css-1vbkxwb p{
    font-family: "Raleway", sans-serif; 
}
@media screen and (min-width:1600px) {
    .css-e3xfei >div >div >div >div >div >div >div {
        width: 150px;
        position: relative;
      top: 371px;
    }
}
@media screen and (min-width:1500px) and (max-width:1599px){
    .css-e3xfei >div >div >div >div >div >div >div {
        width: 150px;
        position: relative;
       top: 200px;;
    }
}